@charset "ISO-8859-1";

.footers p
{
	color:white;
	
}

.footers ul
{
	list-style:none;
}

.footers ul li
{
	float:right;
}

.footers ul li a
{
	display: block;
	text-align : center;
	padding : 10px 10px;
	text-decoration: none;
	color: white;
}

.footers
{
	margin-top:430px;
	background:black;
	height:50px;
}


